@keyframes backgroundPan {
    from {
        background-position: 0% center;
    }

    to {
        background-position: -300% center;
    }
}

* {margin:0;padding:0;}

:root {
    --bgCol: #3E3673;
    --highlightCol: #93a3b1ff;
    --accentCol: #800080ff;
    /* --textCol: var(--highlightCol); */
    --textCol: rgb(215,215,215);
    --arrowCol: #7E59E3;

    --gradient-right: linear-gradient(90deg, #04030fff, #93a3b1ff, #800080ff, #bd6b73ff);
}


@font-face {
    font-family: "batmfa_";
    src: url(Content/batmfa__.ttf) format("truetype");
}

@font-face {
    font-family: "batmfa_Mm_";
    src: url(Content/batmfa_mM_.ttf) format("truetype");
}


body {
    /* width: 99%;
    height: 98vh; */
    margin: 0;
    display: grid;
    background-color: var(--bgCol);
    font-family: "batmfa_", Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: var(--textCol);
}


.bgvid {
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    aspect-ratio: auto 100%;
    max-width: 100vw;
    min-width: auto;
    height: 100vh;
    z-index: -1;
}

.noDisplay {
    display: none;
}


/* --------------------------------------------------------------  */
/* -----                   project viewer                   -----  */
/* --------------------------------------------------------------  */

                            /* TO DO */






/* --------------------------------------------------------------  */
/* -----                       navbar                       -----  */
/* --------------------------------------------------------------  */

button {
    font-family: "batmfa_", Arial, Helvetica, sans-serif;
    background: none;
    border: none;
    outline: none;
}

.navBar {
    
    position: absolute;
    z-index: 2;

    background: linear-gradient(
        to right,
        black -150%,
        transparent 75%
    );
    background-size: 0% 100%;
    background-repeat: no-repeat;

    height: 100vh;
    width: 400px;

    transform: translate(-250px, 0px);
    transition: 0.7s ease;
}

.navBar.active {
    background-size: 80% 100%;
    transform: translate(0px, 0px);
    transition: 0.7s ease, background-size 1.2s 0.1s;
}

.navBar.active .navOpener {
    transform: rotate(180deg);
}

.navContainer {
    height: 100%;
    width: 250px;
    justify-content: center;
    display: flex;
    text-align: center;
    flex-direction: column;
}

.navOpener {
    cursor: pointer;
    color: var(--arrowCol);
    position: absolute;
    left: 265px;
    font-size: 600%;
    top: calc( 50vh - 42px);
    transition: 0.5s ease 0.10s, height 0s 0s;
    transition-delay: 0.10s;
}

.navOpener:hover {
    text-shadow: black 0 0 10px;
    transition: all 0.5s ease 0.10s, height 0s 0s, text-shadow 0.3s linear;
}

.navButton {
    color: var(--textCol);
    overflow: show;
    margin: 8% auto;
    font-size: 200%;
    width: 90%;
    transition: 0.2s ease;
}

.navButton:hover {
    color:rgb(31, 31, 39);
    cursor: pointer;
}

.navButton.active {
    color:rgb(31, 31, 39)
}

/* --------------------------------------------------------------  */
/* -----               floating link buttons                -----  */
/* --------------------------------------------------------------  */

.floatingLinkButtonsContainer {
    margin: 10px 10px 10px 10px;
    z-index: 9;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 60px;
}

.floatingButton {
    position: static;
    height: 60px;
    background: radial-gradient(
        circle at 50% 50%,
        var(--arrowCol) 0%,
        transparent 75%
    );
    opacity: 0.5;
    transition: 0.5s ease;
}

.floatingButton:hover {
    opacity: 1;
}

.floatingButton img {
    margin: 10px 10px 0px 10px;
    width: 40px;
    height: 40px;
}

.hideFloatingButtons {
    opacity: 0;
    bottom: -100%;
    transition: 0.5s ease;
}


/* --------------------------------------------------------------  */
/* -----                    content pages                   -----  */
/* --------------------------------------------------------------  */

.pageContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
}

.content {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    bottom: 0;
    transition: opacity 0.4s ease 0.5s, height 1.2s cubic-bezier(0,0.75,0.75,1) -0.3s;
}

h1 {
    display: inline-block;
    font-size: 300%;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    display: block;
    font-size: 150%;
    max-width: 50%;
}

.topRightImage {
    opacity: 1;
    position: absolute;
    width: 20%;
    height: 20%;
    top: 0;
    right: 0;
    transition: opacity 0.3s ease 1.5s;
}

.hideElement>.topRightImage {
    opacity: 0;
    transition: opacity 0.3s ease 0s;
} 

.hideElement {
    top: 0;
    height: 0;
    opacity: 0;
    transition: opacity 0.4s ease-in, height 0.7s ease-in 0s;
}

/* --------------------------------------------------------------  */
/* -----                startup animation                   -----  */
/* --------------------------------------------------------------  */

.loadAnimationBox {
    height: 100vh;
    width: 100vw;
    position: relative;
    white-space: nowrap;
}

.icons {
    z-index: 3;
    display: flex;
    width: fit-content;
    font-size: 600%;
    color: var(--arrowCol);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    z-index: 1;
    display: flex;
    width: fit-content;
    font-size: 535%;
    color: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -54%);
    letter-spacing: 0.037em;
}

.mirrorM {
    font-family: "batmfa_Mm_";
}

.clipBox {
    display: flex;
    z-index: 2;
    width: 100%;
    height: 40%;
    position: absolute;
    top: 30%;
    overflow: hidden;
}

.moveLeft {
    transform: translate(calc(-50% - 237px), 0);
    transition: transform 0.5s ease-in-out;
}

.clipL {
    /* border: red 1px solid; */
    left: 0;
    display: block;
    position: absolute;
    height: 320px;
    width: 400px;
    left: calc(50% - 810px);
    transform: rotate(-30deg);

    background-color: var(--bgCol);
    animation-play-state: paused;
    animation-name: clipL;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

@keyframes clipL {
    0% {
        width: 400px;
        left: calc(50% - 810px);
        transform: rotate(-30deg);
    }
    55% {
        width: 400px;
        left: calc(50% - 540px);
        transform: rotate(-13.5deg);
    }
    100% {
        width: 400px;
        left: calc(50% - 1250px);
        transform: rotate(0deg);
    }
}

.clipR {
    /* border: red 1px solid; */
    right: 0;
    display: block;
    position: absolute;
    width: 600px;
    transform: translate(50%, 0) rotate(-30deg);
    height: 320px;
    right: 50%;
    
    background-color: var(--bgCol);
    animation-play-state: paused;
    animation-name: clipR;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
}

@keyframes clipR {
    0% {
        transform: translate(50%, 0) rotate(-30deg);
        width: 600px;
        right: 50%;
    }
    100% {
        transform: translate(50%, 0) rotate(-0deg);
        width: 600px;
        right: calc(50% - 560px);
    }
}

.moveL {
    transform: translate(-560%, 0);
    transition: 1s cubic-bezier(0,0.75,0.75,1);
}

.moveR {
    transform: translate(560%, 0);
    transition: 1s cubic-bezier(0,0.75,0.75,1);
}

.slashM {
    transform: translate(0, 12.5%);
    font-size: 75%;
    
}

.slashM.hidden {
    color: transparent;
}

@keyframes blinker {
    from { opacity: 1.0; }
    to { opacity: 0.0; }
}
  
.blink_me {
    animation-name: blinker;
    animation-iteration-count: infinite;
    animation-duration: 0.05s;
}

@keyframes backgroundPan {
    from {
        background-position: 0% center;
    }

    to {
        background-position: 100% center;
    }
}

.gradient {
    animation: backgroundPan 1.8s linear;
    animation-fill-mode: forwards;
    animation-delay: 1.7s;
    background: linear-gradient(
        to right, 
        #cc6666,
        violet,
        #8a2be2,
        #8a2be2
        );
    background-size: 500%;
    -webkit-background-clip: text;
    background-clip: text;
}
